.container {
    background-image: url("images/Cool-mint-cute-Twitter-website-background.png");
    margin: 20px auto;
    max-width: 1000px;
    width: 100%;
}

.row {
    width: 100%;
}

.header {
    padding-top: 40px;
    text-align: center;
    background-color: #2B3E50;
    color: #fff;
    height: 100px;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    background-color: #2B3E50;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navbar li {
    width: 100px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.navbar a:hover {
    background-color: #005f5f;
}

.navbar a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.content {
    background-color: #ecf6f8;
}

.section {
    margin: 0 10px;
    padding: 10px;
    height: 300px;
    border-bottom: thin solid #cccccc;
}

.left-section {
    float: left;
    height: inherit;
    width: 50%;
    max-height: 100%;
}

.right-section {
    float: right;
    height: inherit;
    width: 50%;
    max-height: 100%;
}

.footer {
    text-align: center;
    background-color: #2B3E50;
    color: #fff;
    padding-top: 30px;
    height: 75px;
    display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}